## Preprocessing

In [1]:
# Import dependencies.
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.metrics import confusion_matrix, classification_report

#  Import and read the data.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop non-beneficial ID columns ('EIN' and 'NAME').
application_df = application_df.drop(columns=["EIN", "NAME"], axis=1)

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other".
app_type_counts = application_df["APPLICATION_TYPE"].value_counts()
app_type_counts = app_type_counts.reset_index()
app_type_counts

   APPLICATION_TYPE  count
0                T3  27037
1                T4   1542
2                T6   1216
3                T5   1173
4               T19   1065
5                T8    737
6                T7    725
7               T10    528
8                T9    156
9               T13     66
10              T12     27
11               T2     16
12              T25      3
13              T14      3
14              T29      2
15              T15      2
16              T17      1

In [5]:
# Choose a cutoff value and create a list of application types to be replaced.
application_types_to_replace = []
app_type_counts.columns = ["APPLICATION_TYPE", "Count"]
for index, row in app_type_counts.iterrows():
  if row["Count"] < 528:
    application_types_to_replace.append(row["APPLICATION_TYPE"])

# Replace in dataframe.
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check replacement.
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other".
class_type_counts = application_df["CLASSIFICATION"].value_counts()
class_type_counts = class_type_counts.reset_index()
class_type_counts.columns = ["CLASSIFICATION", "Count"]

# Filter by CLASSIFICATION value counts > 1
filtered_class_type_counts = class_type_counts[class_type_counts["Count"] > 1]
filtered_class_type_counts

   CLASSIFICATION  Count
0           C1000  17326
1           C2000   6074
2           C1200   4837
3           C3000   1918
4           C2100   1883
5           C7000    777
6           C1700    287
7           C4000    194
8           C5000    116
9           C1270    114
10          C2700    104
11          C2800     95
12          C7100     75
13          C1300     58
14          C1280     50
15          C1230     36
16          C1400     34
17          C7200     32
18          C2300     32
19          C1240     30
20          C8000     20
21          C7120     18
22          C1500     16
23          C1800     15
24          C6000     15
25          C1250     14
26          C8200     11
27          C1238     10
28          C1278     10
29          C1235      9
30          C1237      9
31          C7210      7
32          C2400      6
33          C1720      6
34          C4100      6
35          C1257      5
36          C1600      5
37          C1260      3
38          C2710      3
39             C0      3
40          C3200      2
41          C1234      2
42          C1246      2
43          C1267      2
44          C1256      2

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced.
classifications_to_replace = []
for index, row in class_type_counts.iterrows():
  if row["Count"] < 1883:
    classifications_to_replace.append(row["CLASSIFICATION"])

# Replace in dataframe.
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check replacement.
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [8]:
# Convert categorical data to numeric.
categorical_cols = ["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"]
dummies = pd.get_dummies(application_df[categorical_cols], dtype=int)
application_df = pd.concat([application_df, dummies], axis=1)

application_df = application_df.drop(columns=categorical_cols, axis=1)

application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [9]:
# Split the preprocessed data into features and target arrays.
feature_cols = application_df.drop(columns=["IS_SUCCESSFUL"]).columns
X = application_df[feature_cols].values
y = application_df["IS_SUCCESSFUL"]

# Split the preprocessed data into a training and testing dataset.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [10]:
# Create a StandardScaler instance.
scaler = StandardScaler()
X_scaler = scaler.fit(X_train)

# Scale the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compiling, Training and Evaluating the Model

In [11]:
application_df.columns

Index(['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL', 'APPLICATION_TYPE_Other',
       'APPLICATION_TYPE_T10', 'APPLICATION_TYPE_T19', 'APPLICATION_TYPE_T3',
       'APPLICATION_TYPE_T4', 'APPLICATION_TYPE_T5', 'APPLICATION_TYPE_T6',
       'APPLICATION_TYPE_T7', 'APPLICATION_TYPE_T8',
       'AFFILIATION_CompanySponsored', 'AFFILIATION_Family/Parent',
       'AFFILIATION_Independent', 'AFFILIATION_National', 'AFFILIATION_Other',
       'AFFILIATION_Regional', 'CLASSIFICATION_C1000', 'CLASSIFICATION_C1200',
       'CLASSIFICATION_C2000', 'CLASSIFICATION_C2100', 'CLASSIFICATION_C3000',
       'CLASSIFICATION_Other', 'USE_CASE_CommunityServ', 'USE_CASE_Heathcare',
       'USE_CASE_Other', 'USE_CASE_Preservation', 'USE_CASE_ProductDev',
       'ORGANIZATION_Association', 'ORGANIZATION_Co-operative',
       'ORGANIZATION_Corporation', 'ORGANIZATION_Trust', 'INCOME_AMT_0',
       'INCOME_AMT_1-9999', 'INCOME_AMT_10000-24999',
       'INCOME_AMT_100000-499999', 'INCOME_AMT_10M-50M', 'INCOME_AMT_1M-5M',
       'INCOME_AMT_25000-99999', 'INCOME_AMT_50M+', 'INCOME_AMT_5M-10M',
       'SPECIAL_CONSIDERATIONS_N', 'SPECIAL_CONSIDERATIONS_Y'],
      dtype='object')

In [12]:
# Create a neural network model for binary classification.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation="relu", input_dim=43))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

/Applications/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │         2,816 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 4,929 (19.25 KB)

 Trainable params: 4,929 (19.25 KB)

 Non-trainable params: 0 (0.00 B)

In [13]:
# Compile the model.
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model.
fit_nn = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 536us/step - accuracy: 0.6977 - loss: 0.5930
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.7246 - loss: 0.5580
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7275 - loss: 0.5550
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7338 - loss: 0.5488
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7266 - loss: 0.5528
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7360 - loss: 0.5442
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7328 - loss: 0.5466
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.7360 - loss: 0.5451
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.7279 - loss: 0.5509
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.7351 - loss: 0.5420
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7282 - loss: 0.5498
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.7358 - loss: 0.5436
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 502us/step - accuracy: 0.7353 - loss: 0.5436
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.7327 - loss: 0.5487
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7401 - loss: 0.5383
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7351 - loss: 0.5421
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.7374 - loss: 0.5436
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 466us/step - accuracy: 0.7390 - loss: 0.5400
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 503us/step - accuracy: 0.7332 - loss: 0.5423
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7376 - loss: 0.5376
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 476us/step - accuracy: 0.7392 - loss: 0.5395
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.7368 - loss: 0.5408
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.7310 - loss: 0.5449
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7363 - loss: 0.5394
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7386 - loss: 0.5380
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 474us/step - accuracy: 0.7386 - loss: 0.5386
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7356 - loss: 0.5398
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7381 - loss: 0.5384
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 468us/step - accuracy: 0.7399 - loss: 0.5364
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 469us/step - accuracy: 0.7339 - loss: 0.5416
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.7391 - loss: 0.5383
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 491us/step - accuracy: 0.7348 - loss: 0.5382
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 508us/step - accuracy: 0.7378 - loss: 0.5408
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 471us/step - accuracy: 0.7371 - loss: 0.5391
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7370 - loss: 0.5384
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7331 - loss: 0.5378
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 481us/step - accuracy: 0.7394 - loss: 0.5357
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.7398 - loss: 0.5371
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.7390 - loss: 0.5366
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7392 - loss: 0.5357
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 472us/step - accuracy: 0.7386 - loss: 0.5356
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7402 - loss: 0.5330
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7392 - loss: 0.5350
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 499us/step - accuracy: 0.7409 - loss: 0.5298
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7358 - loss: 0.5413
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 475us/step - accuracy: 0.7332 - loss: 0.5407
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7377 - loss: 0.5362
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 489us/step - accuracy: 0.7417 - loss: 0.5342
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 516us/step - accuracy: 0.7343 - loss: 0.5379
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 560us/step - accuracy: 0.7323 - loss: 0.5442
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.7412 - loss: 0.5325
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 541us/step - accuracy: 0.7367 - loss: 0.5371
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 470us/step - accuracy: 0.7406 - loss: 0.5372
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 473us/step - accuracy: 0.7392 - loss: 0.5369
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 605us/step - accuracy: 0.7357 - loss: 0.5407
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 523us/step - accuracy: 0.7398 - loss: 0.5364
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 564us/step - accuracy: 0.7379 - loss: 0.5380
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 654us/step - accuracy: 0.7397 - loss: 0.5330
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 619us/step - accuracy: 0.7424 - loss: 0.5335
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 733us/step - accuracy: 0.7448 - loss: 0.5316
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 674us/step - accuracy: 0.7348 - loss: 0.5389
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 623us/step - accuracy: 0.7433 - loss: 0.5335
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.7394 - loss: 0.5336
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7418 - loss: 0.5334
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 518us/step - accuracy: 0.7408 - loss: 0.5359
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.7403 - loss: 0.5322
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 574us/step - accuracy: 0.7423 - loss: 0.5343
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.7390 - loss: 0.5313
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7387 - loss: 0.5379
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.7394 - loss: 0.5379
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.7416 - loss: 0.5297
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 488us/step - accuracy: 0.7395 - loss: 0.5357
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.7411 - loss: 0.5318
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 482us/step - accuracy: 0.7418 - loss: 0.5344
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7411 - loss: 0.5325
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.7383 - loss: 0.5339
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 497us/step - accuracy: 0.7419 - loss: 0.5330
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 486us/step - accuracy: 0.7409 - loss: 0.5352
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 552us/step - accuracy: 0.7384 - loss: 0.5374
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 487us/step - accuracy: 0.7343 - loss: 0.5377
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 478us/step - accuracy: 0.7377 - loss: 0.5358
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 525us/step - accuracy: 0.7395 - loss: 0.5358
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 484us/step - accuracy: 0.7396 - loss: 0.5343
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.7401 - loss: 0.5331
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 546us/step - accuracy: 0.7407 - loss: 0.5309
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 485us/step - accuracy: 0.7432 - loss: 0.5323
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 533us/step - accuracy: 0.7425 - loss: 0.5336
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 514us/step - accuracy: 0.7430 - loss: 0.5282
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 505us/step - accuracy: 0.7409 - loss: 0.5341
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 501us/step - accuracy: 0.7426 - loss: 0.5321
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 498us/step - accuracy: 0.7404 - loss: 0.5332
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 542us/step - accuracy: 0.7421 - loss: 0.5333
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 477us/step - accuracy: 0.7423 - loss: 0.5319
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 480us/step - accuracy: 0.7390 - loss: 0.5333
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 535us/step - accuracy: 0.7433 - loss: 0.5332
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 515us/step - accuracy: 0.7379 - loss: 0.5339
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 538us/step - accuracy: 0.7459 - loss: 0.5298
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 517us/step - accuracy: 0.7398 - loss: 0.5353
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 530us/step - accuracy: 0.7435 - loss: 0.5329
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 0s 519us/step - accuracy: 0.7407 - loss: 0.5352

In [15]:
# Evaluate the model using the test data.
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 629us/step - accuracy: 0.7304 - loss: 0.5646
Loss: 0.5646385550498962, Accuracy: 0.7303789854049683

In [16]:
# Evaluate the model using a confusion matrix.
predictions = nn.predict(X_test_scaled)
y_pred = (predictions > 0.7).astype("int32")
confusion_matrix(y_test, y_pred)

268/268 ━━━━━━━━━━━━━━━━━━━━ 0s 319us/step

array([[3301,  709],
       [2151, 2414]])

In [17]:
# Export our model to HDF5 file.
nn.save("deep-learning-model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.